/* CSS declarations go here */

* {
  box-sizing: border-box;
}

html, body {
   height: 100%;
}

.filtered-songs {
  background-color: #0574ac;
  color: white;
}

ul {
  padding: 0px;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

/*.audio-player {
  margin-bottom: 10vh;
}*/

.song-param:hover {
  cursor: pointer
}

.home-button {
  margin-bottom: 3vh;
}

.song {
  margin-bottom: 2vh;
}

.song-name {
  font-size: 1.3em;
  margin-left: 3%;
}

.list-group h1 {
  margin-bottom: 5vh;
}

.grid-item {
  background-color: red;
  height: 100px;
  width: 60px;
}

.playlist-container {
  margin-top: 2vh;
}

.genre-div {
  height: 200px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 2px solid #ddd;
}

.genre-div p {
  max-width: 75%;
  margin-top: 15%;
}

.play-list-div {
  height: 200px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 2px solid #ddd;
}

.play-list-div p {
  max-width: 75%;
  margin-top: 15%;
}

.genre-div:hover {
  background-color: #0F1D42;
  cursor: pointer;
  color: white;
}

.play-list-div:hover {
  background-color: #0F1D42;
  cursor: pointer;
  color: white;
}

#filter {
  margin-bottom: 3vh;
  margin-top: 5vh;
}

#genre {
  margin-bottom: -3vh;
}

.music-player {
  margin-top: 5vh;
}

.player-song {
  margin-top: 2vh;
  color: #959595;
}

.navbar {
  min-height: 60px;
  border-radius: 0px;
  border: none;
}

.navbar-inverse {
  background-color: #009fdb;
}

.list-group:hover {
  cursor: pointer;
}

.li-last li:last-of-type {
  color: grey;
}

.li-last span {
  margin-left: 1vh;
}

.li-last {
  margin-left: 7vh;
}

@media (max-width: 420px){
  .li-last {
    margin-left: 3vh;
  }
}

#home-btn {
  background-color: white;
}

.ul-no-pad {
  padding: 0;
}

.padding-top {
  padding-top: 5vh;
}

.mmm-logo {
  max-width: 200px;
}

/*Styles for Playlist divs*/

.grid-playlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1px;
}

.grid-div-playlist {
  order: 2;
  background-color: #009fdb;
  color: white;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.grid-div-playlist:hover {
  background-color: #ffb81c;
  color: black;
  opacity: .7;
  cursor: pointer;
}

.grid-div-playlist:last-of-type {
  font-weight: bold;

}

.grid-div-playlist:nth-child(5) {
  grid-column: auto / span 2;

}

.grid-div-playlist:nth-child(7) {
  grid-column: auto / span 2;
}

@media (max-width: 1199px){
  .grid-div-playlist:nth-child(6) {
    grid-column: auto / span 2;
  }
}

@media (max-width: 992px){
  .grid-div-playlist:nth-child(6) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;

  }
  .grid-div-playlist:nth-child(5) {
    grid-column: auto / span 1;
  }
}

.grid-div-playlist:last-of-type {
  order: 1;
  grid-column: auto / span 2;
  grid-row: 1 / 3;
  font-size: 2.3em;
}

.grid-div-2 {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  outline: 2px solid red;
  z-index: 10;
}

.grid-div:hover {
  cursor: pointer;
}

.grid-div:nth-child(even) {
  background-color: #ccc;
  color: #000;
}


/*Styles for Genre Divs*/

.grid-genre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1px;
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.grid-div-genre {
  background-color: #009fdb;
  color: white;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.grid-div-genre:hover {
  background-color: #ffb81c;
  color: black;
  opacity: .7;
  cursor: pointer;
}

.grid-div-genre:first-of-type {
  grid-column: auto / span 2;
}

.grid-div-genre:nth-child(9) {
  grid-column: auto / span 2;
}
.grid-div-genre:nth-child(3) {
  grid-column: auto / span 2;
}

.grid-div-genre:nth-child(7) {
  grid-column: auto / span 2;
}

@media (max-width: 1199px) {
  .grid-div-genre:nth-child(1) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
  }
  .grid-div-genre:nth-child(6) {
    grid-row: auto / span 2;
  }
}

@media (max-width: 992px){
  .grid-div-genre:nth-child(3) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  .grid-div-genre:nth-child(4) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
  }
  .grid-div-genre:last-of-type {
    grid-column: auto / span 2;
    grid-row: auto / span 1;
  }
}

@media (max-width: 602px){
  .grid-div-genre:nth-child(7) {
    grid-column: auto / span 1;

  }
  .grid-div-genre:nth-child(9) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;


  }
}

@media (min-width: 768px){
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

@media (max-width: 768px) {
  #playlist {
    margin-left: 2vh;
  }
  #genre {
    margin-left: 2vh;
  }
  .mmm-logo {
    margin-left: 2vh;
  }
  input .form-control {
    margin-left: 2vh;
    width: 75%;
  }
}
