/* CSS declarations go here */
* {
  box-sizing: border-box;
}

html, body {
   height: 100%;
}

.filtered-songs {
  background-color: #0574ac;
  color: white;
}

ul {
  padding: none;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.song-param:hover {
  cursor: pointer
}

/*audio {
  width: 100%;
}*/

.grid-item {
  background-color: red;
  height: 60px;
  /*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
}

.playlist-container {
  margin-top: 50px;
}

.genre-div {
  height: 100px;
  display: flex;
  justify-content:flex-start;
}

.genre-div p {
  max-width: 75%;
}

.play-list-div {
  height: 100px;
  display: flex;
  justify-content:flex-start;
}

.play-list-div p {
  max-width: 75%;
}

.genre-div:hover {
  background-color: #C0B4A1;
  cursor: pointer;
  color: white;
}

.play-list-div:hover {
  background-color: #CDE0F0;
  cursor: pointer;
  color: white;
}

#filter {
  margin-bottom: 5vh;
}

#playlist {
  margin-bottom: 10vh;
}

.music-player {
  margin-top: 5vh;
}

.song-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*
.song-param {
  border: 1px dotted blue;
  color: black;
  font-weight: bold;
  font-size: 1em;
  width: 15%;
  padding-bottom: 15%;
  position: relative;
}

.cat-row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px;
  border: 1px solid blue;
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: 1px solid red;
}

.playlist {
  border: 1px solid blue;
  flex:1 0;
  justify-content: center;
  align-items: center;
  max-width:100%;
  min-height: 10rem;
  margin:5px;
  border: 3px solid #ccc;
  background:white;
}

.genre {
  border: 1px solid blue;
  flex:1 0;
  justify-content: space-around;
  max-width:100%;
  min-height: 10rem;
  margin:5px;
  background:white;
}*/

/*.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.grid-div {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid blue;
  background-color: yellow;
  height: 80px;
  text-align: center;
}


.padding-top {
  padding-top: 50px;
}*/
