/* CSS declarations go here */

@font-face {
  font-family: 'ATTAleckSans';
  src: url('/fonts/ATTAleckSans-Regular.ttf') format('truetype');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: 'ATTAleckSans', serif;
  height: 100%;
}

body {
  background-color: #009fdb;
}

.filtered-songs {
  background-color: #0574ac;
  color: white;
}

ul {
  padding: 0px;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

audio {
  padding: 0px;
}

.which-alignment {
  text-align: left;
}

.song-param:hover {
  cursor: pointer
}

.home-button {
  margin-bottom: 3vh;
}

.song {
  margin-bottom: 2vh;
}

.song-name {
  font-size: 1.3em;
  margin-left: 3%;
}

.list-group h1 {
  margin-bottom: 5vh;
}

.grid-item {
  background-color: red;
  height: 100px;
  width: 60px;
}

.playlist-container {
  margin-top: 2vh;
}


.genre-div {
  height: 200px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 2px solid #ddd;
}

.genre-div p {
  max-width: 75%;
  margin-top: 15%;
}

.play-list-div {
  height: 200px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 2px solid #ddd;
}

.play-list-div p {
  max-width: 75%;
  margin-top: 15%;
}

.genre-div:hover {
  background-color: #0F1D42;
  cursor: pointer;
  color: white;
}

.play-list-div:hover {
  background-color: #0F1D42;
  cursor: pointer;
  color: white;
}

#filter {
  margin-bottom: 3vh;
  margin-top: 5vh;
}

#genre {
  margin-bottom: -3vh;
}

.music-player {
  margin-top: 5vh;
  padding-left: 0px;
}

.player-song {
  margin-top: 2vh;
  /*font-weight: bold;*/
  /*color: #959595;*/
  color: white;
}

.navbar {
  min-height: 60px;
  border-radius: 0px;
  border: none;
}

.navbar-inverse {
  background-color: #009fdb;
}

/*.list-group:hover {
  cursor: pointer;
}*/

.li-last li:last-of-type {
  color: grey;
}

.li-last span {
  margin-left: 1vh;
}

.li-last {
  margin-left: 7vh;
}

.react-audio-player {
  padding-left: 0px;
}

@media screen and (max-width: 420px){
  .li-last {
    margin-left: 3vh;
  }
}

#home-btn {
  background-color: white;
}

#playlist {
  margin-top: 5vh;
  color: white;
}

.ul-no-pad {
  padding: 0;
}

.padding-top {
  padding-top: 5vh;
}

.mmm-logo {
  max-width: 200px;
}

/*Styles for Playlist divs*/

.grid-playlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /*grid-gap: 1px;*/
  /*margin-bottom: 5vh;*/
}

.grid-div-playlist {
  order: 2;
  /*background-color: black;*/
  color: white;
  padding: 0px;
  font-size: 150%;
  text-align: center;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*opacity: .7;*/
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  /*filter:grayscale(100%);*/
  /*filter: saturate(5%);*/
  /*filter:sepia(50%);*/
}

.grid-div-playlist > p {
  z-index: 1;
}

.grid-div-playlist * {
    position: relative;
    /* hack */
}

.overlay {
  position: relative;
  z-index: 0;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:.65;
  filter:grayscale(25%);
}

.overlay:hover:after  {
  opacity: 0;
}

#playlist9:after {
  background-color: #009fdb;
}

#playlist9 {
  position: relative;
  background: no-repeat url(/playlist_images/Anthem-Sponsorship_roll.jpg) 50% / 100%;
}


#playlist0:after {
  background-color: #009fdb;
}

#playlist0 {
  position: relative;
  background: no-repeat url(/playlist_images/Across-Culture_roll.jpg) 50% / 100%;
}

#playlist0 > img{
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}

#playlist1:after {
  background-color: #009fdb;
}

#playlist1 {
  position: relative;
  background: no-repeat url(/playlist_images/Bold-Storytelling_roll.jpg) 50% / 100%;
}

#playlist2:after {
  background-color: #009fdb;
}

#playlist2 {
  position: relative;
  background: no-repeat url(/playlist_images/In-the-Club_roll.jpg) 50% / 100%;
}

#playlist3:after {
  background-color: #009fdb;
}

#playlist3 {
  position: relative;
  background: no-repeat url(/playlist_images/Modern-Complexity_roll.jpg) 50% / 100%;
}

#playlist4:after {
  background-color: #009fdb;
}

#playlist4 {
  position: relative;
  background: no-repeat url(/playlist_images/Most-Wonderful-Time_roll.jpg) 50% / 100%;
}

#playlist5:after {
  background-color: #009fdb;
}

#playlist5 {
  position: relative;
  background: no-repeat url(/playlist_images/Reflections_roll.jpg) 50% / 100%;
}

#playlist6:after {
  background-color: #009fdb;
}

#playlist6 {
  position: relative;
  background: no-repeat url(/playlist_images/Good-Vibes_roll.jpg) 50% / 100%;
}

#playlist7:after {
  background-color: #009fdb;
}

#playlist7 {
  position: relative;
  background: no-repeat url(/playlist_images/Swagger_roll.jpg) 50% / 100%;
}

#playlist8:after {
  background-color: #009fdb;
}

#playlist8 {
  position: relative;
  background: no-repeat url(/playlist_images/We-Got-the-Beat_roll.jpg) 50% / 100%;
}

/*#playlist9 > p{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}*/
/*.grid-div-playlist:hover {
  background-color: #ffb81c;
  color: black;
  opacity: .7;
  cursor: pointer;
}*/

@media screen and (min-width: 900px) {
  .grid-div-playlist:hover {
    /*background-color: #d2d2d2;*/
    color: black;
    opacity: 1;
    cursor: pointer;
  }
}

.grid-div-playlist:last-of-type {
  font-weight: bold;

}

.grid-div-playlist:nth-child(5) {
  grid-column: auto / span 2;

}

.grid-div-playlist:nth-child(7) {
  grid-column: auto / span 2;
}

@media screen and (max-width: 1199px){
  .grid-div-playlist:nth-child(6) {
    grid-column: auto / span 2;
  }
}

@media screen and (max-width: 992px){
  .grid-div-playlist:nth-child(6) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;

  }
  .grid-div-playlist:nth-child(5) {
    grid-column: auto / span 1;
  }
}

.grid-div-playlist:last-of-type {
  order: 1;
  grid-column: auto / span 2;
  grid-row: 1 / 3;
  font-size: 2.3em;
}

.grid-div-2 {
  grid-column: 3 / 6;
  grid-row: 2 / 3;
  outline: 2px solid red;
  z-index: 10;
}

.grid-div:hover {
  cursor: pointer;
}

.grid-div:nth-child(even) {
  background-color: #ccc;
  color: #000;
}

/*.song-bar {
  background-color: #71c5e8;
}*/
/*Styles for Genre Divs*/

.grid-genre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1px;
  /*margin-top: 5vh;*/
  margin-bottom: 10vh;
}

.grid-div-genre {
  background-color: white;
  color: black;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

.grid-div-genre:hover {
  background-color: #d2d2d2;
  color: black;
  /*opacity: .7;*/
  cursor: pointer;
}

.grid-div-genre:first-of-type {
  grid-column: auto / span 2;
}

.grid-div-genre:nth-child(9) {
  grid-column: auto / span 2;
}
.grid-div-genre:nth-child(3) {
  grid-column: auto / span 2;
}

.grid-div-genre:nth-child(7) {
  grid-column: auto / span 2;
}

@media screen and (max-width: 1199px) {
  .grid-div-genre:nth-child(1) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
  }
  .grid-div-genre:nth-child(6) {
    grid-row: auto / span 2;
  }
}

@media screen and (max-width: 992px){
  .grid-div-genre:nth-child(3) {
    grid-column: auto / span 1;
    grid-row: auto / span 1;
  }
  .grid-div-genre:nth-child(4) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;
  }
  .grid-div-genre:last-of-type {
    grid-column: auto / span 2;
    grid-row: auto / span 1;
  }
}

@media screen and (max-width: 602px){
  .grid-div-genre:nth-child(7) {
    grid-column: auto / span 1;

  }
  .grid-div-genre:nth-child(9) {
    grid-column: auto / span 1;
    grid-row: auto / span 2;


  }
}

@media screen and (min-width: 768px){
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

@media screen and (max-width: 768px) {
  #playlist {
    margin-left: 2vh;
  }
  #genre {
    margin-left: 2vh;
  }
  .mmm-logo {
    margin-left: 2vh;
  }
  input .form-control {
    margin-left: 2vh;
    width: 75%;
  }
  #playlist {
    height: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #71c5e8;
    color: white;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .grid-genre {
    margin-bottom: 0px;
  }
  .which-alignment {
    text-align: center;
    margin-top: 0px;
  }
}

/*My Audio Container*/

.audio-player-container {
  /*width: 450px;*/
  height: 60px;
  border: 2px solid black;
  background-color: white;
  color: black;
}

.player-logo {
  float: left;
}

.player {
  float: right;
  margin: 7px;
}

.song-title {
  color: black;
  width: 300px;
  padding: 5px 0px 5px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.song-meta {
  margin-right: 1%;
  cursor: pointer;
}

.song-controller {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.play-button {
  margin-right: 1%;
}

.play-button:hover {
  cursor: pointer;
}

.pause-button:hover {
  cursor: pointer;
}

/*Picobel CSS*/
/*@charset "UTF-8";
.pitchfork.customAudioPlayer {
  margin: 2em 0;
  padding: 1em;
  padding-left: 4em;
  position: relative;
  border: 2px solid #a2a2a2;
  overflow: hidden;
  box-sizing: border-box;
  background: #ffffff;
  font-family: 'Arial',sans-serif;
  color: #969696;
}

.pitchfork.customAudioPlayer *,
.pitchfork.customAudioPlayer *:before,
.pitchfork.customAudioPlayer *:after {
  box-sizing: inherit;
}

.pitchfork.customAudioPlayer .loader {
  position: absolute;
  top: 3.1em;
  left: 7.2em;
  right: 4.2em;
  height: .4em;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s;
  text-align: center;
  line-height: 1;
  overflow: hidden;
  border-radius: .2em;
}

.pitchfork.customAudioPlayer .loader:before {
  display: block;
  content: '';
  width: 130%;
  height: 600%;
  position: absolute;
  z-index: 1;
  top: -200%;
  left: 0;
  box-shadow: inset #eeeeee 0 0 0 0, inset #dad8d2 0.5em 0 0 0,  inset #eeeeee 1em 0 0 0,  inset #dad8d2 1.5em 0 0 0,  inset #eeeeee 2em 0 0 0,  inset #dad8d2 2.5em 0 0 0,  inset #eeeeee 3em 0 0 0,  inset #dad8d2 3.5em 0 0 0,  inset #eeeeee 4em 0 0 0,  inset #dad8d2 4.5em 0 0 0,  inset #eeeeee 5em 0 0 0,  inset #dad8d2 5.5em 0 0 0,  inset #eeeeee 6em 0 0 0,  inset #dad8d2 6.5em 0 0 0,  inset #eeeeee 7em 0 0 0,  inset #dad8d2 7.5em 0 0 0,  inset #eeeeee 8em 0 0 0,  inset #dad8d2 8.5em 0 0 0,  inset #eeeeee 9em 0 0 0,  inset #dad8d2 9.5em 0 0 0,  inset #eeeeee 10em 0 0 0,  inset #dad8d2 10.5em 0 0 0,  inset #eeeeee 11em 0 0 0,  inset #dad8d2 11.5em 0 0 0,  inset #eeeeee 12em 0 0 0,  inset #dad8d2 12.5em 0 0 0,  inset #eeeeee 13em 0 0 0,  inset #dad8d2 13.5em 0 0 0,  inset #eeeeee 14em 0 0 0,  inset #dad8d2 14.5em 0 0 0,  inset #eeeeee 15em 0 0 0,  inset #dad8d2 15.5em 0 0 0,  inset #eeeeee 16em 0 0 0,  inset #dad8d2 16.5em 0 0 0,  inset #eeeeee 17em 0 0 0,  inset #dad8d2 17.5em 0 0 0,  inset #eeeeee 18em 0 0 0,  inset #dad8d2 18.5em 0 0 0,  inset #eeeeee 19em 0 0 0,  inset #dad8d2 19.5em 0 0 0,  inset #eeeeee 20em 0 0 0,  inset #dad8d2 20.5em 0 0 0,  inset #eeeeee 21em 0 0 0,  inset #dad8d2 21.5em 0 0 0,  inset #eeeeee 22em 0 0 0,  inset #dad8d2 22.5em 0 0 0,  inset #eeeeee 23em 0 0 0,  inset #dad8d2 23.5em 0 0 0,  inset #eeeeee 24em 0 0 0,  inset #dad8d2 24.5em 0 0 0,  inset #eeeeee 25em 0 0 0,  inset #dad8d2 25.5em 0 0 0,  inset #eeeeee 26em 0 0 0,  inset #dad8d2 26.5em 0 0 0,  inset #eeeeee 27em 0 0 0,  inset #dad8d2 27.5em 0 0 0,  inset #eeeeee 28em 0 0 0,  inset #dad8d2 28.5em 0 0 0,  inset #eeeeee 29em 0 0 0,  inset #dad8d2 29.5em 0 0 0,  inset #eeeeee 30em 0 0 0,  inset #dad8d2 30.5em 0 0 0,  inset #eeeeee 31em 0 0 0,  inset #dad8d2 31.5em 0 0 0,  inset #eeeeee 32em 0 0 0,  inset #dad8d2 32.5em 0 0 0,  inset #eeeeee 33em 0 0 0,  inset #dad8d2 33.5em 0 0 0,  inset #eeeeee 34em 0 0 0,  inset #dad8d2 34.5em 0 0 0,  inset #eeeeee 35em 0 0 0,  inset #dad8d2 35.5em 0 0 0,  inset #eeeeee 36em 0 0 0,  inset #dad8d2 36.5em 0 0 0,  inset #eeeeee 37em 0 0 0,  inset #dad8d2 37.5em 0 0 0,  inset #eeeeee 38em 0 0 0,  inset #dad8d2 38.5em 0 0 0,  inset #eeeeee 39em 0 0 0,  inset #dad8d2 39.5em 0 0 0,  inset #eeeeee 40em 0 0 0,  inset #dad8d2 40.5em 0 0 0,  inset #eeeeee 41em 0 0 0,  inset #dad8d2 41.5em 0 0 0,  inset #eeeeee 42em 0 0 0,  inset #dad8d2 42.5em 0 0 0,  inset #eeeeee 43em 0 0 0,  inset #dad8d2 43.5em 0 0 0,  inset #eeeeee 44em 0 0 0,  inset #dad8d2 44.5em 0 0 0,  inset #eeeeee 45em 0 0 0,  inset #dad8d2 45.5em 0 0 0,  inset #eeeeee 46em 0 0 0,  inset #dad8d2 46.5em 0 0 0,  inset #eeeeee 47em 0 0 0,  inset #dad8d2 47.5em 0 0 0,  inset #eeeeee 48em 0 0 0,  inset #dad8d2 48.5em 0 0 0,  inset #eeeeee 49em 0 0 0,  inset #dad8d2 49.5em 0 0 0,  inset #eeeeee 50em 0 0 0;
  animation: pitchfork_slide linear infinite .3s;
  transform-origin: center;
}

.pitchfork.customAudioPlayer.loading .loader {
  opacity: 1;
}

.pitchfork.customAudioPlayer .playerTrigger {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.6em;
  height: 2.6em;
  font-size: 1em;
  color: #7f7f7f;
  background: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -1.3em;
  left: 1em;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.pitchfork.customAudioPlayer .playerTrigger .buttonText {
  display: none;
}

.pitchfork.customAudioPlayer .playerTrigger:focus {
  outline: none;
}

.pitchfork.customAudioPlayer .playerTrigger:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -.6em;
  margin-left: -.25em;
  border-top: .6em solid transparent;
  border-left: 0.8em solid #000;
  border-bottom: .6em solid transparent;
}

.pitchfork.customAudioPlayer .playerTrigger:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  height: 1em;
  margin-top: -.5em;
  margin-right: -.5em;
  border-top: 0;
  border-left: 0.4em solid #000;
  border-bottom: 0;
  opacity: 0;
}

.pitchfork.customAudioPlayer .playerTrigger.songPlaying:before {
  height: 1em;
  margin-top: -.5em;
  margin-left: -.5em;
  border-top: 0;
  border-left: 0.4em solid #000;
  border-bottom: 0;
}

.pitchfork.customAudioPlayer .playerTrigger.songPlaying:after {
  opacity: 1;
}

.pitchfork.customAudioPlayer .metaWrapper {
  color: #000;
  padding: 0 1em;
  margin-bottom: 1em;
}

.pitchfork.customAudioPlayer .titleDisplay {
  font-weight: bold;
}

.pitchfork.customAudioPlayer .titleDisplay:before {
  content: '“';
}

.pitchfork.customAudioPlayer .titleDisplay:after {
  content: '”';
}

.pitchfork.customAudioPlayer .artistDisplay:before {
  content: ' – ';
}

.pitchfork.customAudioPlayer .songPlayTimer {
  position: absolute;
  bottom: 1em;
  left: 5em;
}

.pitchfork.customAudioPlayer .songDuration {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.pitchfork.customAudioPlayer .timingsWrapper {
  padding: 0 4em;
  position: relative;
  font-size: .8em;
  width: 100%;
  float: left;
}

.pitchfork.customAudioPlayer .timingsWrapper .songPlayTimer,
.pitchfork.customAudioPlayer .timingsWrapper .songDuration {
  position: absolute;
  top: -.2em;
  width: 4em;
  text-align: center;
  line-height: 1;
}

.pitchfork.customAudioPlayer .timingsWrapper .songPlayTimer {
  left: 0;
  border-radius: .5em 0 0 .5em;
}

.pitchfork.customAudioPlayer .timingsWrapper .songDuration {
  right: 0;
  border-radius: 0 .5em .5em 0;
}

.pitchfork.customAudioPlayer .songProgressSliderWrapper {
  height: 0.4rem;
  line-height: 1;
  position: relative;
  border-radius: .2rem;
  overflow: hidden;
}

.pitchfork.customAudioPlayer .songProgressSliderWrapper .songProgressSlider {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.pitchfork.customAudioPlayer .songProgressSliderWrapper .pseudoProgressBackground {
  height: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #eeeeee;
  width: 100%;
}

.pitchfork.customAudioPlayer .songProgressSliderWrapper .pseudoProgressIndicator {
  height: 0.4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ff3530;
  width: 0%;
}

.pitchfork.customAudioPlayer .songProgressSliderWrapper .pseudoProgressPlayhead {
  display: none;
}

.pitchfork.customAudioPlayer input[type=range].songProgressSlider::-webkit-slider-runnable-track {
  width: 100%;
  font-size: 0.4rem;
  height: 2.2em;
  cursor: pointer;
}

.pitchfork.customAudioPlayer input[type=range].songProgressSlider::-moz-range-track {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
}

.pitchfork.customAudioPlayer input[type=range].songProgressSlider::-ms-track {
  width: 100%;
  height: 0.4rem;
  cursor: pointer;
}

.pitchfork.customAudioPlayer .songVolume {
  display: none;
}

@keyframes pitchfork_slide {
  0% {
    transform: translateX(-2em);
  }
  100% {
    transform: translateX(0);
  }
}*/
