/* Webfont: ATTAleckSans-Bold */@font-face {
    font-family: 'ATTAleckSans';
    src: url('ATTAleckSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('ATTAleckSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ATTAleckSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('ATTAleckSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ATTAleckSans-Bold.svg#ATTAleckSans-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

